<!-- index.html -->
<div><a href="{% url 'save' %}">新建账单</a></div>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>用途</th>
        <th>类型</th>
        <th>金额</th>
        <th>创建时间</th>
        <th>更新时间</th>
        <th>操作</th>
    </tr>
    </thead>

    <tbody>
    {% for model in list %}
    <tr>
        <td>{{ model.id }}</td>
        <td>{{ model.usage }}</td>
        <td>{{ model.type_str }}</td>
        <td>{{ model.amount }}</td>
        <td>{{ model.ctime|date:'Y-m-d' }} {{ model.ctime|time:'H:i:s' }}</td>
        <td>{{ model.mtime|date:'Y-m-d' }} {{ model.mtime|time:'H:i:s' }}</td>
        <td>
            <a href="{% url 'delete' model.id %}">删除</a>
        </td>
        <td>
            <a href="{% url 'save' model.id %}">编辑</a>
        </td>
    </tr>
    {% empty %}
    暂无数据
    {% endfor %}
    </tbody>

</table>
